<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>13-ios-UITableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D1865961F15F50B00A5E0EC</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>1D1865AF1F15F50C00A5E0EC</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>1D1865BA1F15F50C00A5E0EC</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
