<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-UIviewController使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DA6EBB91EC4485F006A1EE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DA6EBD21EC4485F006A1EE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DA6EBDD1EC4485F006A1EE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
