<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-UIController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1DBB9B8C1EC2B6F700C23F7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DBB9BA51EC2B6F700C23F7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DBB9BB01EC2B6F700C23F7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
