<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-UIView2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D64B9741EC1E3DF0090E2AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D64B98D1EC1E3E00090E2AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D64B9981EC1E3E00090E2AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
