<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04-ios-手动布局子视图（改进版）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D9C74061EE6B59A0015D1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D9C741F1EE6B59A0015D1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D9C742A1EE6B59A0015D1C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
